.loader,
.loader:after {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.loader {
  animation: spin 1.1s infinite linear;
  border: 0.3rem solid rgba(183, 183, 183, 0.2);
  border-left: 0.3rem solid #b7b7b7;
  position: absolute;
  right: 1.2rem;
  top: 0.8rem;
  transform: translateZ(0);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
