.wrapper {
  position: relative;
}

.input {
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  display: block;
  font-size: 1.4rem;
  margin: 0 -1.2rem; /* To compensate for the padding */
  padding: 0.8rem 1.2rem;
  transition: border-color 200ms ease, background-color 200ms ease;
  width: calc(100% + 1.2rem);
}

.input:hover {
  background-color: white;
  border-color: #b7b7b7;
}

.input:focus {
  border-color: #b7b7b7;
  cursor: text;
}

.inputSubmitting {
  composes: input;
  background-color: white;
  border-color: #b7b7b7;
  cursor: not-allowed;
}

.errorMessage {
  color: red;
  font-size: 1.4rem;
}

.notificationIcon {
  position: absolute;
  height: 2rem;
  right: 1.2rem;
  top: 0.8rem;
  width: 2rem;
}
