* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.EditableText_wrapper__yEbQq {
  position: relative;
}

.EditableText_input__22m_C {
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  display: block;
  font-size: 1.4rem;
  margin: 0 -1.2rem; /* To compensate for the padding */
  padding: 0.8rem 1.2rem;
  transition: border-color 200ms ease, background-color 200ms ease;
  width: calc(100% + 1.2rem);
}

.EditableText_input__22m_C:hover {
  background-color: white;
  border-color: #b7b7b7;
}

.EditableText_input__22m_C:focus {
  border-color: #b7b7b7;
  cursor: text;
}

.EditableText_inputSubmitting__vxUeW {
  background-color: white;
  border-color: #b7b7b7;
  cursor: not-allowed;
}

.EditableText_errorMessage__1Udgz {
  color: red;
  font-size: 1.4rem;
}

.EditableText_notificationIcon__1ToYa {
  position: absolute;
  height: 2rem;
  right: 1.2rem;
  top: 0.8rem;
  width: 2rem;
}

.LoadingSpinner_loader__h1QLS,
.LoadingSpinner_loader__h1QLS:after {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.LoadingSpinner_loader__h1QLS {
  -webkit-animation: LoadingSpinner_spin__WvXLY 1.1s infinite linear;
          animation: LoadingSpinner_spin__WvXLY 1.1s infinite linear;
  border: 0.3rem solid rgba(183, 183, 183, 0.2);
  border-left: 0.3rem solid #b7b7b7;
  position: absolute;
  right: 1.2rem;
  top: 0.8rem;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

@-webkit-keyframes LoadingSpinner_spin__WvXLY {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes LoadingSpinner_spin__WvXLY {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


/*# sourceMappingURL=main.eb7c85fc.chunk.css.map*/